<!--vue-resource的介绍-->
<!--vue.js文件向Windows对象暴露了Vue这个关键词；vue-resource.js向Vue身上挂载了this.$http这个属性。-->
<!--于是，我们可以直接写this.$http.get或者this.$http.post或者this.$http.jsonp来调用。-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Document</title>-->
<!--    <style>-->
<!--        #app {-->
<!--            width: 800px;-->
<!--            margin: 20px auto;-->
<!--        }-->

<!--        #tb {-->
<!--            width: 800px;-->
<!--            border-collapse: collapse;-->
<!--            margin: 20px auto;-->
<!--        }-->

<!--        #tb th {-->
<!--            background-color: #0094ff;-->
<!--            color: white;-->
<!--            font-size: 16px;-->
<!--            padding: 5px;-->
<!--            text-align: center;-->
<!--            border: 1px solid black;-->
<!--        }-->

<!--        #tb td {-->
<!--            padding: 5px;-->
<!--            text-align: center;-->
<!--            border: 1px solid black;-->
<!--        }-->
<!--    </style>-->
<!--    <script src="./node_modules/vue/dist/vue.js"></script>-->
<!--    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<div id="app">-->
<!--    <input type="text">-->
<!--    <input type="text">-->
<!--    <button>添加数据</button>-->

<!--    <table id="tb">-->
<!--        <tr>-->
<!--            <th>编号</th>-->
<!--            <th>名称</th>-->
<!--            <th>创建时间</th>-->
<!--            <th>操作</th>-->
<!--        </tr>-->
<!--        <tr v-for="item in list">-->
<!--            <td>{{item.id}}</td>-->
<!--            <td>{{item.name}}</td>-->
<!--            <td>{{item.ctime}}</td>-->
<!--            <td>-->
<!--                <a href="javascript:void(0)">删除</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--<script>-->

<!--    new Vue({-->
<!--        el :'#app',-->
<!--        data:{-->
<!--            list:[]-->
<!--        },-->
<!--        // Vue对象实例创建成功以后就会自动调用这个方法-->
<!--        created:function(){-->
<!--            this.getlist();-->
<!--        },-->
<!--        methods:{-->
<!--            getlist:function(){-->
<!--                // 请求服务器的api获取到品牌的数据列表-->
<!--                this.$http.get('static/package.json')-->
<!--                    .then(function(response){-->
<!--                        // 1、处理服务器异常信息提示-->
<!--                        if(response.body.status != 0){-->
<!--                            alert(response.body.message);-->
<!--                            return;-->
<!--                        }-->

<!--                        // 2、处理正常的数据逻辑-->
<!--                        this.list =  response.body.message;  //直接将数据放到list数组当中，页面就会自动显示-->
<!--                        console.log(this.list);-->
<!--                    });-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->

<!--</html>-->




<!--vue-resource-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Vue 测试</title>-->
<!--    <script src="./node_modules/vue/dist/vue.js"></script>-->
<!--    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="box">-->
<!--    <input type="button" @click="get()" value="点我异步获取数据(Get)">-->
<!--</div>-->
<!--<script type = "text/javascript">-->
<!--    window.onload = function(){-->
<!--        var vm = new Vue({-->
<!--            el:'#box',-->
<!--            data:{-->
<!--                msg:'Hello World!',-->
<!--            },-->
<!--            methods:{-->
<!--                get:function(){-->
<!--                    //发送get请求-->
<!--                    this.$http.get('static/package.json').then(function(res){-->
<!--                        console.log(res.body);-->
<!--                        var getJson = JSON.stringify(res.body);-->
<!--                        document.write(getJson);-->
<!--                        console.log(getJson);-->
<!--                    },function(){-->
<!--                        console.log('请求失败处理');-->
<!--                    });-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->




<!--axios-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
</head>
<body>
<div id="app">
{{info}}
</div>

<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
                info:null
        },
        mounted() {
            axios
                .get('static/package.json')
                .then(response => (this.info =response))
                .catch(function (error) {
                    console.log(error);
                });
        }
    });
</script>

</body>
</html>


<!--response.data 读取 JSON 数据：-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--    <script src="node_modules/vue/dist/vue.js"></script>-->
<!--    <script src="node_modules/axios/dist/axios.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app">-->
<!--    <h1>response.data取值</h1>-->
<!--    <div v-for="data in info">-->
<!--        {{data}}-&#45;&#45;&#45;&#45;&#45;&#45;</br>-->
<!--        {{data.name}}-&#45;&#45;&#45;&#45;{{data.age}}&#45;&#45;&#45;&#45;{{data.sex}}-->
<!--    </div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--    window.onload= function () {-->
<!--        var vm = new Vue({-->
<!--            el:"#app",-->
<!--            data:{-->
<!--                info:null-->
<!--            },-->
<!--            mounted() {-->
<!--                axios-->
<!--                    .get('static/package.json')-->
<!--                    .then(response =>(this.info = response.data))-->
<!--                    .catch(function (err) {-->
<!--                        console.log(err);-->
<!--                    });-->
<!--            }-->
<!--        });-->

<!--    }-->

<!--</script>-->
<!--</body>-->
<!--</html>-->