@charset "utf-8";
.container ul {
  list-style: none;
}
.container li {
  height: 20px;
  line-height: 20px;
  padding: 15px auto;
  background: aqua;
}
.container li a {
  text-decoration: none;
  color: aliceblue;
}
