<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>
</head>
<body>
<form action="/add" method="post">
    姓名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    性别：<select name="sex" id="sex">
        <option value="">--请选择--</option>
        <option value="男">男</option>
        <option value="女">女</option>
    </select>
    <input type="submit" value="提交">
</form>
</body>
</html>